/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Prevents padding/margins from adding extra width */
}

html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000000;
    font-family: 'Fixedsys', monospace;
    color: #ffffff;
}

/* Coming Soon Container */
.coming-soon-container {
    text-align: center;
    padding: 20px;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px; /* Ensures container width doesn’t exceed screen size */
    margin: 0 auto; /* Centers the content */
}

.logo img {
    width: 300px;
    height: auto;
    margin-bottom: 60px;
    margin-top: 40px;
}

.tagline {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    margin-bottom: 80px;
}

.coming-soon-text {
    font-family: 'Fixedsys', monospace;
    font-size: 1.6em;
    margin-bottom: 20px;
}

/* Countdown Timer */
.countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.time {
    font-family: 'Fixedsys', monospace;
    font-size: 2.6em;
    background-color: #b4ff00;
    color: #000000;
    padding: 40px;
    border-radius: 10px;
    width: 160px;
    text-align: center;
}

/* Footer Section */
footer {
    width: 100%;
    background-color: #b4ff00;
    padding: 20px;
    text-align: center;
    color: #000000;
    position: relative;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.social-links a {
    color: #000000;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #4b00ff;
}

footer p {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    line-height: 0.6em;
}

footer p a {
    color: #000000;
    text-decoration: none;
}

footer p a:hover {
    color: #4b00ff;
}

/* Responsive Design */
@media (max-width: 600px) {

    .logo img {
        width: 200px;
    }

    .tagline {
        font-size: 0.9em;
        margin-bottom: 60px;
    }

    .coming-soon-text {
        font-size: 1.4em;
    }

    .time {
        font-size: 2em;
        width: 150px;
        padding: 10px;
    }

    .social-links a {
        font-size: 1.2em;
        margin: 0 5px;
    }

    footer p {
        font-size: 0.7em;
    }
}
